.logoTextHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
}
.logoTextHolderSlogan {
    font-weight: 400;
    margin-left: 2px;
    margin-top: 0px;
    font-size: 8px;
}